body{
	position:relative;
	margin:0;
	color:white;
	background:black;
}
#container{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%);
	width:124.3px;
	white-space:nowrap;
}
button{
	margin-top:3px;
	background:none;
	border:1px solid white;
	color:white;
	background:#333;
}
button,input,.colon{
	font-size:2em;
	width:100%;
}
input,.colon{
	font-family:monospace;
}
input{
	width:55px;
	text-align:center;
	border:1px solid white;
	background:#333;
	color:white;
}
input::-webkit-inner-spin-button{
	background:rgba(0,0,0,0);
}
input:focus,button:focus{
	outline:0;
}
#countdown{
	width:100%;
}